*{
    padding: 0;
    margin: 0;
}
.background_image {
    background-image: url(fight.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    background-attachment: fixed;
    margin-top: 5px;
    font-family: sans-serif;
}
form{
    padding:110px ;
    margin: auto;
}
.regform{
    width: 300px;
    background-color:lightblue;
    margin: auto;
    text-align: center;
    color:dimgray;
    border-radius: 15px 15px 0px 0px;
    padding: 10px 0px 10px 0px;
}
.main{
    background-color: rgb(0,0,0,0.5);
    width: 800px;
    margin:auto;
}

#name{
    width: 100%;
    height: 200px;
}
.name{
    margin-left: -80px;
    margin-top: -50px;
    width: 125px;
    color: white;
    font-size: 24px;
    font-weight: 700;
}
.name_box1a{
    position:relative;
    left:80px;
    top: -37px;
    border-radius: 6px;
    padding: 0 20px;
    font-size: 16px;
    line-height: 30px;
}
.name_box1b{
    position: relative;
    left: 150px;
    top:-37px;
    line-height: 30px;
    padding: 0 20px;
    font-size: 16px;
    color: #555;
    border-radius: 6px;
}
.fname{
    position: relative;
    color:#E5E5E5;
    text-transform: capitalize;
    font-size: 14px;
    left: -130px;
    top:-12px;
}
.lname{
    position: relative;
    color: #E5E5E5;
    text-transform: capitalize;
    font-size: 14px;
    left: -60px;
    top: -10px;
}
.add_box1{
    position: relative;
    left: 80px;
    line-height: 40px;
    width: 532px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
    top: -120px;
    text-transform: capitalize;
}
.address_box{
    position: relative;
    color:#E5E5E5;
    text-transform: capitalize;
    font-size: 18px;
    left: -80px;
    top:-85px;
}
.email_box{
    position: relative;
    left: 80px;
    line-height: 40px;
    width: 532px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
    top: -80px;
    text-transform: capitalize;
}
.e_box{
    position: relative;
    color:#E5E5E5;
    text-transform: capitalize;
    font-size: 18px;
    left: -80px;
    top:-45px;
}
.pass_box{
    position: relative;
    left: 80px;
    line-height: 40px;
    width: 532px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
    top: -40px;
    text-transform: capitalize;
}
.p_box{
    position: relative;
    color:#E5E5E5;
    text-transform: capitalize;
    font-size: 18px;
    left: -80px;
    top:-2px;
}
.tele_box{
    position: relative;
    left: 90px;
    line-height: 40px;
    width: 360px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
    top: 0px;
    text-transform: capitalize;
}
.country_code_box{
    top: 0px; 
    position: relative; 
    line-height: 30px;
    padding: 0 15px;
    border-radius: 6px;
    width: 150px;
    left: 80px;
    height: 30px;
    font-size: 14px;
    color: #555;
}
.t_box{
    position: relative;
    color:#E5E5E5;
    text-transform: capitalize;
    font-size: 18px;
    left: -80px;
    top:33px;
}
.dob_box{
    position: relative;
    left: 80px;
    line-height: 40px;
    width: 532px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
    top: 23px;
    text-transform: capitalize;
}
.dob{
    position: relative;
    color:#E5E5E5;
    text-transform: capitalize;
    font-size: 16px;
    left: -80px;
    top:63px;
}
.option{
    position: relative;
    left: 80px;
    line-height: 40px;
    width: 532px;
    height: 40px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color: #555;
    top: 50px;
    text-transform: capitalize;
}
.option_box{
    position: relative;
    color:#E5E5E5;
    text-transform: capitalize;
    font-size: 18px;
    left: -80px;
    top:70px;
}
.g_box{
    position: relative;
    color:#E5E5E5;
    text-transform: capitalize;
    font-size: 18px;
    left: -80px;
    top:90px;
}
.gender_box{
    position: relative;
    left: 80px;
    line-height: 40px;
    width: 532px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color:white;
    top: 60px;
    text-transform: capitalize;
    display: inline-block;
}
.gender_box2{
    position: relative;
    left: 80px;
    line-height: 40px;
    width: 532px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color:white;
    top: 60px;
    text-transform: capitalize;
    display: inline-block;
}
.button{
    position: relative;
    left: 80px;
    line-height: 40px;
    width: 532px;
    border-radius: 6px;
    padding: 0 22px;
    font-size: 16px;
    color:white;
    top: 60px;
    text-transform: capitalize;
    display: inline-block;
}
button{
    background-color: #3BAF9F;
    display: block;
    margin: 20px 0px 0px 20px;
    text-align: center;
    border-radius: 12px;
    border: 2px solid #366473;
    padding: 14px 110px;
    outline: none;
    color: white;
    cursor: pointer;
    transition: 0.25px;
    top: 100px;
}
button:hover{
    background-color:red ;
}
.dob_validate{
    top: 2000px;
}
input:required {
    border: 2px solid black;
}
input:optional{
    border: 2px solid silver;
}
input:valid + span::before {
    content: '✖';
    color: red;
}
input:invalid + span::before {
    content: '✓';
    color: green;
}